h1{
  color:red;
  background-color:#000000;
  font-size: 90px;
  text-align: center;
}
h2{
  color:rgb(255, 255, 255);
  background-color:rgb(0, 128, 0);
  font-weight:100;
  text-decoration: underline;
}
h3{
  background-color:yellow;
  font-style:oblique;
  line-height:5;
  word-spacing:10em;
}
p{
  color:hsl(204 51.5% 59.6%);
  font-variant:small-caps;
}
ol{
  color:lightgray; 
  background-color:hsl(204 51.5% 100%);
  letter-spacing: 0.25em;
}
ul{
  background-color:hsla(0 64.8% 32.4% / 0.85);
  letter-spacing:-0.1em;
}
em{
    text-transform:capitalize;
  }
strong{
  text-shadow:3px 3px 1px #000
}
html{
  background-color:hsla(303, 85%, 34%, 1);
}
