h1{color:red}
h1{background-color:#000000}
h2{color:rgb(255, 255, 255)}
h2{background-color:rgb(0, 128, 0)}
h3{background-color:yellow}
p{color:hwb(204 39% 19.6%)}
ol{color:lightgray}
ul{background-color:hwb(0 11.5% 46.7% / 0.85)}
html{background-color:hsla(303, 85%, 34%, 1)}
